<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Dummy Banking System" />
        <meta name="author" content="Maksudul Haque" />
        <title>
            Banking System
        </title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<style>

</style>
        
    </head>
    <body class="bg-gray-100">
        
            <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Hans-Raj Bank System</span>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-white border-white-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        
            <div class="text-md lg:flex-grow"></div>
<!--             <div>
                <a href="/accounts/login/" class="mr-2 inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Login</a>
            </div>
            <div>
                <a href="/accounts/register/" class="inline-block font-medium text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0">Register</a>
            </div> -->
        
    </div>
</nav>

            <div class="lg:container lg:mx-auto">
                

                
    <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
        <!--Left Col-->

        <!--Right Col-->
        <div class="w-full lg:w-1/2 lg:py-6 text-center">
            <h3 style="font-size: 12rem" class="font-black text-gray-800">Hans-Raj Bank System</h3>
        </div>

        <div class="left-bar" style="float: right;
                    width: 50%;
                    text-align: right;
                    height: 400px;
                    padding: 30px;
                    border-radius: 30px;">

                     <h3 style="font-size: 20px;">Please enter valid email id for recieved the OTP to login the your accounts</h3><br>
            <input type="email" style="border: 1px solid #ccc;padding: 5px;">
           
            <button style="background: rgb(0, 180, 255);
color: #fff;
padding: 6px 10px;">Submit</button>
        </div>
    </div>

            </div>
            

        
        
    </body>
</html>
